:root {
  font-family: system-ui;
  /* (62.5/100) * 16px = 10px */
  font-size: 62.5%;
  /* 14px */
  --font-size-small: 1.4rem;
  /* 16px */
  --font-size-default: 1.6rem;
  /* 24px */
  --font-size-large: 2.4rem;
}

body {
  font-size: var(--font-size-default);
  min-height: 100vh;
}

.header-container {
  background-color: darkseagreen;
  height: 100px;
}

.flex-header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: blue;
}

.logo-container {
  font-size: var(--font-size-large);
}
.logo {
  width: 100px;
  height: 100px;
}

.logo-title {
  margin: 0;
}

.input-container {
  position: relative;
}

.hidden-label {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}

#client-input {
  border-radius: 10px;
  border-width: 0;
  background-color: lightgray;
  width: 400px;
  height: 20px;
}

#client-input:focus {
  outline: 3px solid blue;
}

#client-input::placeholder {
  text-align: center;
}

.search-button {
  position: absolute;
  width: 25px;
  right: 25px;
  bottom: 4px;
  cursor: pointer;
}

.date {
  font-size: var(--font-size-large);
  margin: 0;
}

.information-container {
  color: blue;
  height: calc(100vh - 200px);
  display: grid;
  justify-content: center;
  align-items: center;
}

.information-card {
  border-radius: 10px;
  height: 500px;
  width: 700px;
  background-position: center;
}

.city-title {
  margin: 0;
  text-align: center;
  background-color: rgba(143, 188, 143, 0.6);
  padding: 1rem 0;
  border-radius: 10px 10px 0 0;
  height: 13%;
}

.card-inside-flexer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-large);
  height: 87%;
}

.informations-blocks {
  display: flex;
  height: 60%;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.informations-blocks-two {
  height: 40%;
  padding: 0.2rem;
  display: flex;
  gap: 1rem;
  width: 200px;
  align-items: center;
  justify-content: flex-end;
}

.informations {
  border-block-end: 5px solid;
  background-color: rgba(143, 188, 143, 0.6);
  margin: 0;
  padding: 0.2rem;
  border-radius: 5px;
}

.indicators {
  height: 40%;
  background-color: rgba(143, 188, 143, 0.6);
  border-radius: 40%;
}

.flex-footer {
  font-size: var(--font-size-large);
  background-color: darkseagreen;
  display: flex;
  color: blue;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100px;
}
